*{
    margin: 0;
    padding: 0;
}
marquee{
    background-color: blue;
    color: black;
    width: 99.5%;
    height: 20vh;
    border: 4px dotted orange;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: chocolate;
}